body {
  font-family: 'Acme';
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}


textarea:focus,input,  input:focus, input:active, button, button:focus, button:active, select:focus, select:active{
  outline: none;
  font-family: inherit;
  border: none;
  /* background-color: transparent; */
}
